<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/single-lost.css" />
    <link rel="stylesheet" href="/css/found-form.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Vollkorn:wght@600&display=swap"
      rel="stylesheet"
    />

    <title>Individual Lost Item Page</title>
  </head>

  <body>
    
      <nav class="navbar navbar-dark bg-dark">
      
        <a href='/' class="navbar-brand">Lost And Found</a>
          <a
          href="/Lost"
          style="margin-left: 770px;"
          class="btn btn-outline-info my-2 my-sm-0"
          type="button"
          >Lost Items</a
        >
        <a
          href="/found-form"
          style="position: left;"
          class="btn btn-outline-info my-2 my-sm-0"
          type="button"
          >Found Form</a
          >
        <a
          href="/logout"
          class="btn btn-outline-info my-2 my-sm-0"
          type="button"
          >Logout</a
          >
   
      </nav>
    
    <h1>Lost Item</h1>
              <br>
              <form action="/single-lost/:id" method="POST">
              <div class="row" style= "margin-left:0px; text-align:center; align-items: center; justify-content: center">
                    <div class="card mb-3">
                      <img class="card-img-top" src=<%=item.image%> alt="Card image cap">
                      <div class="card-body">
                        <input type="hidden" name="item_name" value="<%= typeof item_name != 'undefined' ? item_name : item.name%>"/><h5 class="card-title"><%=item.name%></h5>
                        <input type="hidden" name="item_about" value="<%= typeof item_about != 'undefined' ? item_about : item.about%>"/><p class="card-text"><%=item.about%></p>
                        <input type="hidden" name="item_id" value="<%= typeof item_id != 'undefined' ? item_id : item.id%>"/>
                        <p class="card-text"><%=item.type%></p>
                        <p class="card-text"><%=item.where%></p>
                        <!-- <p class="card-text"><small class="text-muted">Last updated 29 mins ago</small></p> -->
                      </div>
                    </div>
                  </div>
                  <div style="align-items: center; text-align: center; justify-content: center; ">
                      <p class="claim_text">If the item shown above is your's then fill the form below to claim it</p>
                      <br>
                      <%-include('./partials/messages')%>
                      <div class='claim_info_name'  style="width: 20%; margin-left: 578px;">
                        <h3 for="claim_name">Name</h3>
                        <input type="name" name="name" class="form-control" id="name"
                        value="<%= typeof name != 'undefined' ? name : '' %>" />
                        </div>
                        <br>
                        <div class="claim_info_number">
                        <h3 for="claim_number">Mobile No.</h3>
                        <input type="number" name="number" class="form-control" id="number" style="width: 20%; margin-left: 578px;"
                        value="<%= typeof number != 'undefined' ? number : '' %>" />
                      </div>
                      <button type="submit" style='width: 20%; margin-left:0px;' class="claim_btn">CLAIM!</button>
                        </div>
              </div>
            </form>
          </div>
  </body>
</html>
